<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8"/>
    <base href="nocode"/>

    <title>Medicines list at HealthPlus</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          z integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script data-require="angular.js@1.0.x" src="http://code.angularjs.org/1.0.7/angular.min.js"
            data-semver="1.0.7"></script>
    <script src="./jsonload_dungthuoc.js"></script>
    <link
      rel="icon"
      href="./assets/img/logo.png"
      type="image/png"
      sizes="700x700"
    />
    <link rel="stylesheet" href="/assets/css/henkham.css">
</head>
<body>
<div class="container">
    <div class="container-logo">
        <a href="./index.html"><img class="container-logo-img" src="/assets/img/logo.png" alt="" width="300"></a>
    </div>
    <div class="container-content" ng-controller="jsonCtrl">
        <h1 class="container-title">Medicines list at HealthPlus</h1>
        <div class="container-add">Create new Medicine:</div>
        <form name="myForm">
            <div class="mb-3">
                <label for="empName" class="form-label">Medicine Name:</label>
                <input type="text" class="form-control" id="empName" ng-model="empName" placeholder="Enter Medicine Name" required>
            </div>
    
            <div class="mb-3">
                <label for="empTime" class="form-label">Medicine Time:</label>
                <input type="text" class="form-control" id="empTime" ng-model="empTime" placeholder="Enter Medicine Time">
            </div>
    
            <div class="mb-3">
                <label for="empDosage" class="form-label">Medicine Dosage:</label>
                <input type="text" class="form-control" id="empDosage" ng-model="empDosage" placeholder="Enter Medicine Dosage">
            </div>
    
            <div class="mb-3">
                <label for="empRequire" class="form-label">Medicine Require:</label>
                <input type="text" class="form-control" id="empRequire" ng-model="empRequire" placeholder="Enter Medicine Require" required>
                
            </div>
    
            <div class="mb-3">
                <label for="empPrescription" class="form-label">Medicine Prescription:</label>
                <input type="text" class="form-control" id="empPrescription" ng-model="empPrescription" placeholder="Enter Medicine Prescription">
            </div>
    
            <div class="mb-3">
                <label for="empNote" class="form-label">Medicine Note:</label>
                <input type="text" class="form-control" id="empNote" ng-model="empNote" placeholder="Enter Medicine Note" >
            </div>
            <span id="spanError" class="d-none text-danger small ms-1">*error: Medicine Require not null</span>
            <button class="btn container-btn" ng-click="addEmp()">Add<i class="icon-plus"></i></button>
            <br/><br/>
    
        </form>
        
        <label class="container-search">Search: </label> <input class="container-input" type="text" ng-model="search.name">
        <table class="table table-striped container-table">
            <thead>
            <th class="clone-nav">Name</th>
            <th class="clone-nav">Time</th>
            <th class="clone-nav">Dosage</th>
            <th class="clone-nav">Require</th>
            <th class="clone-nav">Prescription</th>
            <th class="clone-nav">Note</th>
            </thead>
            <tr ng-repeat="resource in employees | filter:search">
                <td class="clone-elemnt">{{ resource.name }}</td>
                <td class="clone-elemnt">{{ resource.time }}</td>
                <td class="clone-elemnt">{{ resource.dosage }}</td>
                <td class="clone-elemnt">{{ resource.require }}</td>
                <td class="clone-elemnt">{{ resource.prescription }}</td>
                <td class="clone-elemnt">{{ resource.note }}</td>
            </tr>
        </table>
    </div>
    <a href="/include/header.html"><button class="btn container-btn">Back</button></a>
</div>
</body>

</html>